<div class="perfil">
<h2>Perfil de: <%= @usuario.nome%></h2>
<%= link_to 'Editar perfil', edit_usuario_path %>
</div>
<div class= "listagem-livros">
  <h2 >Lista de Leituras</h2><br>
<%= link_to "Todos", usuario_path(filtro: nil)%>
<%= link_to "Concluídos", usuario_path(filtro: 'concluido')%>
<%= link_to "Pendentes", usuario_path(filtro: 'pendente')%>
<% @livros.each do |livro| %>
  <%= render 'livros/livro', livro: livro %>
<% end %>
</div>

<p> Total de Páginas: <%= @total_paginas%></p>
<p> Livros encontrados: <%= @livros_total_busca %></p>

<div class= "botoes-pagina">
  <%= link_to 'Anterior', usuario_path(pagina: @pagina - 1, filtro: params[:filtro])  unless (@pagina == 1)%> | <%=@pagina%> |
  <%= link_to 'Próxima', usuario_path(pagina: @pagina + 1, filtro: params[:filtro]) unless (@pagina >= @total_paginas)%>
</div>

<div class= "novo-livro">
  <p>Adicione um novo livro<p><br>

  <%= form_for([@usuario, @usuario.livros.create], remote: true ) do |f| %>

    <p>
      <%= f.label 'Titulo' %>
      <%= f.text_field :nome %>
    </p>

    <p>
      <%= f.label :Autor %>
      <%= f.text_field :autor %>
    </p>

    <p>
      <%= f.submit 'Adicionar'%>
    </p>

  <% end %>
</div>

<br>
<%= link_to 'sair', logout_path %>
